

/** voor de images van realisaties **/


#imgContainer {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    

}

figure {
    flex-grow: 1;
    flex-shrink: 0;
    
    display: inline-block;
    width: 35%;
    
}