

/** voor de images van realisaties **/


#imgContainer {
    
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    

}

figure {
 
    flex-grow: 1;
    flex-basis: 50%;
    margin: 10px 0px;
    
}

.imgWrap {
    
    position: relative; 
    
}


.imgDescription {
    
    top:40%;
    left:45%;
    position: absolute;
    background-color: black;
    
    visibility: hidden;
    
}




.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 1;
}

.rotate {

/* Safari */
-webkit-transform: rotate(-45deg);

/* Firefox */
-moz-transform: rotate(-45deg);

/* IE */
-ms-transform: rotate(-45deg);

/* Opera */
-o-transform: rotate(-45deg);


}